* {
    padding:0%;
    margin: 0%;
}
body {
    width: 100%;
    height: auto;
    background-color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.navbar {
    background-image: url(./images/fondo1.jpg);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 1%;
}
.navbar-brand {
    font-size: 40px;
    color: #121212;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
    }
.nav-link {
    color: black;
}
.main {
    background-color: black;
    width: 100%; }
.dropdown-menu {
    background-color: rgb(253, 230, 234);
}
.perfumes-femeninos .perfumes-masculinos .perfumes-unisex {
    margin-top: 5%;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-body {
    text-align: center;
}
.footer {
    margin-top: 3%;
}
footer h5 {
    color: pink;
}
.contacto-footer {
    text-decoration: none;
}